fastapi
uvicorn[standard]
pydantic
python-dotenv
pytest-asyncio

google-cloud-aiplatform
google-genai
google-adk==2.5.0

google-cloud-firestore
google-cloud-storage
google-cloud-pubsub

pypdf
python-docx

numpy
networkx

pytest
httpx
python-multipart
